body {
	background-color: #75ABBC;
	background: rgb(223, 224, 226);
	background: linear-gradient(319deg, rgba(223, 224, 226, 1) 0%, rgba(117, 171, 188, 1) 35%, rgba(12, 59, 69, 1) 100%);
	font-family: 'Merriweather', sans-serif;
	font-size: 16px;
	margin: 0;
	color: #DFE0E2;
}

h1 {
	font-size: 2em;
    text-shadow: 2px 2px black;
}

h2 {
	font-size: 1.5em;
	text-align: center;
    color: #DFE0E2;
    text-shadow: 2px 2px black;
}

h3,
h4,
h5,
h6 {
	font-size: 1.25em;
}

header {
	border-bottom: 1.5px solid black;
	font-size: 2em;
	position: relative;
	display: flex;
	flex-direction: row;
}

footer {
	font-size: 1.25em;
	color: black;
    border-top: solid black;
    text-align: center;
}



section {
	color: black;

}

article{
      width:90%;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
  margin: 20px auto;
  padding: 20px;

}


article h3{
    text-align: center;
}


p {
    text-indent: 5%;
}

img {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#img{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

figcaption{
    text-align: center;
}