body{

    background-color: grey;
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
}

h1{
 font-size: 2em;

}

h2{
 font-size: 1.5em;
}

h3, h4, h5, h6{
 font-size: 1.25em;
}

header{
    background-color: lightblue;
 font-size: 2.25em;
  margin:15px;
}

footer{
 font-size: 0.75em;
}

nav{
  font-size: 0.75em;
  float: right;
}

header h1, header nav{
    display: inline;
}


#main{

}

#wrapper{

}

p{}

nav ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li{
float: left;
}

nav li a{
    display: block;
  padding: 8px;
  background-color: #dddddd;
}

a{
    font-size: 0.75em;
}

.images{
    column-count: 2;
}

section{
    border-bottom: solid black;
}

.img{
    width:400px;
    background:#fff;
    padding:18px 18px 2px 18px;
    border:1px solid #999
}